# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
alias ls='ls --color=auto'
alias open=xdg-open

vim() {
  local CMD=vim
  type nvim &> /dev/null && CMD=nvim
  command $CMD $@
}
