[user]
  name = Agnaldo Junior
  email = agnaldo.junior@atria.org
[core]
  editor = nvim
[color]
  ui = auto
[alias]
  s = status
  co = checkout
  br = branch
  cp = cherry-pick
  ll = log --oneline
[aliases]

[diff]
  submodule = log
[pager]
  branch = 
[init]
  defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
