*.swp
*.swo
*~
.vim/sessions
.vim/plug/
*.pyc
.weechat/logs
.weechat/weechat.log
.tmux/plugins/*
.tmux/sidebar/*
!.tmux/plugins/tpm
.tmux/resurrect
.bin/python
.bin/python-config
.config/*
!.cofig/awesome
!.config/awesome-copycats
!.config/nvim/
