[user]
	name = Agnaldo Junior
	email = agoliveira@paypal.com
[core]
	editor = nvim
[color]
	ui = auto
[alias]
	s = status
	co = checkout
	br = branch
	cp = cherry-pick
	ll = log --oneline
[aliases]

[diff]
	submodule = log
[pager]
	branch = 
